<div class="container pt-1">
    <div class="row">
        <div class="col-sm-12">
            <p>demo works!</p>
            <p >{{var1}}</p>
            <!-- <p>{{var2}}</p> -->
            <!-- [value]="var1" (input)="var1 = $event.target.value" -->
            <input  [(ngModel)]="var1" />
    
        </div>

        <p textHighlight> checking directive</p>
        <!-- <div class="col-sm-12 pt-2">
            <button class="btn btn-sm btn-primary" (click)="openalert()">Open alert</button>
        </div> -->
        <div class="col-sm-12 pt-2">
            <p>Date Pipe</p>
            <p>no pipe: {{dt}}</p>
            <p>with pipe: {{dt | date}}</p>
            <p> fullDate : {{ dt | date :'fullDate'}}</p>
            
            <p> dd-MM-yyyy:  {{dt | date:'dd-MM-yyyy'}}</p>
    
        </div>

        <div class="col-sm-12" *ngFor="let item of dummyArr">
            <!-- <div *ngIf="(item%2)==0 "> {{item}}even</div>
            <div *ngIf="(item%2)!=0 ">{{item}} odd</div> -->
            <div [ngSwitch]="(item%2)">
                <div *ngSwitchCase="even">{{item}}even</div>
                <div *ngSwitchCase="odd">{{item}}odd</div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-3">
1
        </div>
        <div class="col-sm-3">
            2
        </div>
        <div class="col-sm-3">
           3 
        </div>
        <div class="col-sm-3">
            4
        </div>
    </div>

</div>
