<xva-super-grid [gridData]="renderedData" [colsList]="allColumns" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
  [currentPage]="CurrentPage" (pageChange)="pageChanged($event)" (download)="DownloadCsv()"
  (rowClicked)="onRowClicked($event)" (rowSelected)="onRowSelected($event)"
  [resizableColumns]="true" [reorderColumns]="true" [showHideColumns]=true [rowSelection]="true"
  [sorting]="true" [iconsTemplate]="iconsTemplate" 
  [class]="'data-grid'"
  > 

  <ng-template #iconsTemplate >
    <i class="fa fa-commenting-o pr-1" (click)="onComments()"></i>
    <i class="fa fa-paperclip" ></i>
  </ng-template>
</xva-super-grid>