<app-header [search]="searchVal"  [isSearch]="true" ></app-header> 

<div class="container">
        
    <span *ngIf="searchVal.key">
        <span>Filter By:</span><strong class="p-2" textHighlight>{{searchVal.key}}</strong>
        <span>
           
            <mat-icon aria-hidden="false" (click)="onclick_Clear()" >close</mat-icon>
        </span>
    </span>
    <span class="addIcon">
        <a routerLink="/home/add">
            <mat-icon aria-hidden="false" >add</mat-icon>
        </a>
    </span>
    <div *ngIf="userData">
        <app-list *ngFor="let user of userData|filter:searchVal.key"  [userData]="user" (onEventReq)="onDeleteUser($event)"></app-list>
    </div>
</div>
<app-footer></app-footer> 