<div class="login_inner">
    <div class="login__logo">
      <img src="./assets/images/logo.png" style="height: 100px;" alt="Logo" >
    </div>
    <div class="login__body">
      <h1 class="login__title">Welcome</h1>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
        <div class="txtCenter">
          <mat-form-field >
            <mat-label>User Name</mat-label>
            <input matInput type="text" formControlName="email">
            <mat-error *ngIf="form.hasError('email') && !form.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="form.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="txtCenter">
          <mat-form-field >
            <mat-label>Password</mat-label> 
            <input matInput type="password" formControlName="password">
          </mat-form-field>
        </div>
        <div class="txtCenter">
          <button mat-button color="primary" [disabled]="!form.valid" >Log-in</button>
        </div>
      </form>
    </div>
  </div>