<div class="container-fluid">
  <div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="box-container">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>

    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-12">

    <xva-super-grid [gridData]="renderedData" [colsList]="allColumns" [showPagination]="true" [totalItems]="totalItems"
      [itemsPerPage]="itemsPerPage" [currentPage]="CurrentPage" (pageChange)="pageChanged($event)"
      (download)="DownloadCsv()" (rowClicked)="onRowClicked($event)" (rowSelected)="onRowSelected($event)"
      [isSetting]=true
      [resizableColumns]="true" [reorderColumns]="true" [showHideColumns]=true [rowSelection]="true" [sorting]="true"
      [iconsTemplate]="iconsTemplate" [class]="'data-grid'">

      <ng-template #iconsTemplate>
        <div class="pull-right">
        <i class="fa fa-commenting-o pr-1" (click)="onComments()"></i>
        <i class="fa fa-paperclip"></i>
      </div>
      </ng-template>
    </xva-super-grid>
  </div>

</div>
</div>
